.Playground {
  padding: 48px;

  h1 {
    margin-block: 0 12px;
    font-size: 20px;
    font-weight: 300;
    color: rgba(0 0 0 / 74%);
  }

  .ComboBox {
    display: flex;
    gap: 4px;

    select {
      appearance: none;
      border: 2px solid rgba(0 0 0 / 30%);
      padding: 4px 6px;
      border-radius: 8px;
      font-size: 14px;
    }
  }
}

.login-form {

  & img {
    display: flex;
    justify-self: center;
  }

  & form {
    margin-top: 48px;
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

  .mid-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    & button {
      border: 0;
      background-color: transparent;
      color: #0074E9;
      font-size: 16px;
    }
  }


  .input-st {
    display: flex;
    align-items: center;
    border: 2px solid #CCCCCC;

  }

  .validation-st {
    margin-block: 0;
    font-size: 15px;
    color: red;
  }

}