.box-wrapper {
  min-width: 320px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 34px;
}

.product-container {
  display: flex;
  height: 125.691px;
  padding: 13.65px;
  align-items: center;
  gap: 20.474px;

  img {
    width: 109.197px;
    height: 109.197px;
    flex-shrink: 0;
    border-radius: 109.197px;
  }

  .cart-button {
    margin-left: auto;
    border: 2px solid #B3B3B3;
    border-radius: 30px;
    background-color: #EEE;


    button {
      background: none;
      border: 0;
    }
  }
}