@layer components {
  .icon-container {
    width: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #CCCCCC;

    & img {
      width: 20px;
      height: 16px;
    }
  }
}